body{
  background-color: #f9efe5;
}

.header{
  background-color: #ffa226;
  height: 100px;
  color:#fff;
}

.header-logo{
  float:left;
  font-size:36px;
  padding:20px 40px;
}

.header-logout{
  float: right;
  padding:20px 40px;
}

.header-under{
  height: 100px;
}

.header-title{
  padding: 20px;
  font-size: 30px;
}

.header-list{
  float: right;
  padding: 5px;
}

li{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  float:left;
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 10px;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
}
